.cell-input {
  height: 26px;
  margin-left: -10px;
}

:deep(.cell-select .el-select__wrapper) {
  height: 26px;
  min-height: 26px;
  margin-left: -11px;
}

:deep(.el-table .el-table__row) {
height: 50px;
}